<% if (songs == "") {%>

    <h1>No songs to display :(</h1>

    <% } else { %>

        <div class="d-flex overflow-scroll flex-column">
            <h1>All songs in the database</h1>
            <% for (song of songs){%>
                <div class="p-3 m-3 border border-primary bg-light">
                    <% if (typeof areFavorites != 'undefined') {%>
                        <a href="/favorites/remove/<%= song.id %>">Unfavorite this song</a>
                    <% } else { %>
                        <a href="/favorites/add/<%= song.id %>" style="font-size:20px">Favorite this song!</a>
                    <% } %>
                    <div>
                        <h2><u>Title:</u>&emsp;<%= song.title %> </h2>
                        <h4><u>Artist(s):</u>&emsp;<%= song.artistStr %></h4>
                        <h4><u>Genre(s):</u>&emsp;<%= song.genreStr %></h4>                
                    </div>
                </div>
            <% } %>
        </div>

    <% } %>